<!-- templates/post-edit.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head %}
    {{ form.media }}
{% endblock head %}

{% block content %}
    <div class="card mt-2">
        <div class="card-header py-0 px-3 text-white bg-dark">
            <h3>{% trans 'Форум' %}</h3>
        </div>
        <div class="card-body p-1">
            <h4 class="pl-3">{% trans 'Редактирование публикации' %}</h4>
            <hr>
            <div class="form-group">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="form-group">
                        <div class="form-label-group">
                            <b>{{ form.title.label_tag }}</b>
                            <p>{{ form.title|add_class:'form-control' }}</p>
                            {% if form.title.help_text %}
                                <small class='help-block' style="color: grey">{{ form.title.help_text }}</small>
                            {% endif %}
                            {% for error in form.title.errors %}
                                <span class="help-block"><small>{{ error }}</small></span>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="form-label-group">
                            <b>{{ form.preview.label_tag }}</b>
                            <p>{{ form.preview|add_class:'form-control'|attr:'rows:2' }}</p>
                            {% if form.preview.help_text %}
                                <small class='help-block' style="color: grey">{{ form.preview.help_text }}</small>
                            {% endif %}
                            {% for error in formpreview.errors %}
                                <span class="help-block"><small>{{ error }}</small></span>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-1">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="" class="img-thumbnail">
                            {% else %}
                                    <img src="{% static 'img/publication.jpg' %}" class="img-thumbnail">
                            {% endif %}
                        </div>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <b>{{ form.image.label_tag }}</b>
                                    {{ form.image }}
                                    {% if form.image.help_text %}
                                        <small class='help-block' style="color: grey">{{ form.image.help_text }}</small>
                                    {% endif %}
                                    {% for error in form.image.errors %}
                                        <span class="help-block"><small>{{ error }}</small></span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="form-label-group">
                            <b>{{ form.content.label_tag }}</b>
                            <p>{{ form.content }}</p>
                            {% if form.content.help_text %}
                                <small class='help-block' style="color: grey">{{ form.content.help_text }}</small>
                            {% endif %}
                            {% for error in form.content.errors %}
                                <span class="help-block"><small>{{ error }}</small></span>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-success ml-2" type="submit">{% trans 'Сохранить' %}</button>
                    <a class="btn btn-secondary ml-2" href="{% url 'post_list' topic=post.topic_id %}">{% trans 'Отменить' %}</a>
                </form>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
