<!-- templates/registration/password_change_form.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{%block title %}Password Change{% endblock %}

{% block head %}
    <link href="{% static 'css/sb-admin.min.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-white bg-dark">{% trans 'Изменение пароля' %}</div>
            <div class="card-body">
                <p>{% trans "Пожалуйста введите старый пароль и затем введите новый пароль дважды для проверки на правильность ввода." %}</p>
                <form method="post">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <div class="form-label-group">
                                {{ field|add_class:'form-control' }}
                                {{ field.label_tag }}
                                {% if field.help_text %}
                                    <small class='form-text text-muted'>{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <span class="form-text text-danger"><small>{{ error }}</small></span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            <span class="glyphicon glyphicon-ok"></span>{% trans 'Изменить' %}
                        </button>
                        <a href="{% url 'home' %}" class="btn btn-secondary btn-block">{% trans 'Отменить' %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
