<!-- templates/registration/password_reset_confirm.html -->

{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{%block title %}Enter new password{% endblock %}

{% block content %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">{% trans 'Установка нового пароля' %}</div>
            <div class="card-body">
                <p>{% trans "Нажмите на кнопку внизу для изменения Вашего пароля." %}</p>
                <form method="post">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <div class="form-label-group">
                                {{ field|add_class:'form-control' }}
                                {{ field.label_tag }}
                                {% if field.help_text %}
                                    <small class='help-block' style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            <span class="glyphicon glyphicon-ok"></span>{% trans 'Изменить мой пароль' %}
                        </button>
                        <a href="{% url 'home' %}" class="btn btn-secondary btn-block">{% trans 'Отменить' %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
