{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{%block title %}Password Change Successful{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-white bg-dark">{% trans 'Изменение пароля' %}</div>
            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    {% trans 'Ваш пароль был успешно изменен!' %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
