<!-- templates/registration/signup.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head %}
    <link href="{% static 'css/sb-admin.min.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header text-white bg-dark">{% trans 'Регистрация нового пользователя' %}</div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    {{ form.first_name|add_class:'form-control' }}
                                    {{ form.first_name.label_tag }}
                                    {% if form.first_name.help_text %}
                                        <small class='form-text text-muted'>{{ form.first_name.help_text }}</small>
                                    {% endif %}
                                    {% for error in form.fisrt_name.errors %}
                                        <span class="form-text text-danger"><small>{{ error }}</small></span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    {{ form.last_name|add_class:'form-control' }}
                                    {{ form.last_name.label_tag }}
                                    {% if form.last_name.help_text %}
                                        <small class='form-text text-muted'>{{ form.last_name.help_text }}</small>
                                    {% endif %}
                                    {% for error in form.last_name.errors %}
                                        <span class="form-text text-danger"><small>{{ error }}</small></span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            {{ form.email|add_class:'form-control' }}
                            {{ form.email.label_tag }}
                            {% if form.email.help_text %}
                                <small class='form-text text-muted'>{{ form.email.help_text }}</small>
                            {% endif %}
                            {% for error in form.email.errors %}
                                <span class="form-text text-danger"><small>{{ error }}</small></span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            {{ form.password1|add_class:'form-control' }}
                            {{ form.password1.label_tag }}
                            {% if form.password1.help_text %}
                                <small class='form-text text-muted'>{{ form.password1.help_text }}</small>
                            {% endif %}
                            {% for error in form.password1.errors %}
                                <span class="form-text text-danger"><small>{{ error }}</small></span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                {{ form.password2|add_class:'form-control' }}
                                {{ form.password2.label_tag }}
                                {% for error in form.password2.errors %}
                                    <span class="form-text text-danger"><small>{{ error }}</small></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        <span class="glyphicon glyphicon-ok"></span>{% trans 'Регистрировать' %}
                    </button>
                    <a href="{% url 'home' %}" class="btn btn-secondary btn-block">{% trans 'Отменить' %}</a>
                </form>
                <hr>
                <div class="text-center">
                    <a class="d-block small mt-3" href="{% url 'login' %}">{% trans 'Перейти на страницу входа' %}</a>
                    <a class="d-block small" href="{% url 'password_reset' %}">{% trans 'Забыли пароль?' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
