<!-- templates/accounts/profile.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head %}
    {{ form.media }}
{% endblock head %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card mt-2">
            <div class="card-header py-0 px-3 text-white bg-dark">
                <h3>{% trans 'Профиль пользователя' %}</h3>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="form-group">
                        <div class="form-label-group">
                            <b>{{ form.last_name.label_tag }}</b>
                            {{ form.last_name|add_class:'form-control' }}
                            {% if form.last_name.help_text %}
                                <small class='form-text text-muted'>{{ form.last_name.help_text }}</small>
                            {% endif %}
                            {% if form.last_name.error %}
                                {% for error in form.last_name.errors %}
                                    <span class="form-text text-danger"><small>{{ error }}</small></span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <b>{{ form.first_name.label_tag }}</b>
                            {{ form.first_name|add_class:'form-control' }}
                            {% if form.first_name.help_text %}
                                <small class='form-text text-muted'>{{ form.first_name.help_text }}</small>
                            {% endif %}
                            {% if form.first_name.error %}
                                {% for error in form.first_name.errors %}
                                    <span class="form-text text-danger"><small>{{ error }}</small></span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <b>{{ form.middle_name.label_tag }}</b>
                            {{ form.middle_name|add_class:'form-control' }}
                            {% if form.middle_name.help_text %}
                                <small class='form-text text-muted'>{{ form.middle_name.help_text }}</small>
                            {% endif %}
                            {% if form.middle_name.error %}
                                {% for error in form.middle_name.errors %}
                                    <span class="form-text text-danger"><small>{{ error }}</small></span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="form-label-group">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <b>{{ form.email.label_tag }}</b>
                                    {{ form.email|add_class:'form-control' }}
                                    {% if form.email.help_text %}
                                        <small class='form-text text-muted'>{{ form.email.help_text }}</small>
                                    {% endif %}
                                    {% if form.email.error %}
                                        {% for error in form.email.errors %}
                                            <span class="form-text text-danger"><small>{{ error }}</small></span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-1">
                            {% if user.photo %}
                                <img src="{{ user.photo.url }}" alt="" class="img-thumbnail">
                            {% else %}
                                    <img src="{% static 'img/nophoto.png' %}" class="img-thumbnail rounded">
                            {% endif %}
                        </div>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <b>{{ form.photo.label_tag }}</b>
                                    {{ form.photo }}
                                    {% if form.photo.help_text %}
                                        <small class='form-text text-muted'>{{ form.photo.help_text }}</small>
                                    {% endif %}
                                    {% if form.photo.error %}
                                        {% for error in form.photo.errors %}
                                            <span class="form-text text-danger"><small>{{ error }}</small></span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="form-label-group">
                            <b>{{ form.location.label_tag }}</b>
                            {{ form.location|add_class:'form-control' }}
                            {% if form.location.help_text %}
                                <small class='form-text text-muted'>{{ form.location.help_text }}</small>
                            {% endif %}
                            {% if form.location.error %}
                                {% for error in form.location.errors %}
                                    <span class="form-text text-danger"><small>{{ error }}</small></span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <b>{{ form.birth_date.label_tag }}</b>
                            {{ form.birth_date|add_class:'form-control' }}
                            {% if form.birth_date.help_text %}
                                <small class='form-text text-muted'>{{ form.birth_date.help_text }}</small>
                            {% endif %}
                            {% if form.birth_date.error %}
                                {% for error in form.birth_date.errors %}
                                    <span class="form-text text-danger"><small>{{ error }}</small></span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-success ml-2" type="submit">{% trans 'Сохранить' %}</button>
                    <a class="btn btn-secondary ml-2" href="{% url 'home' %}">{% trans 'Отменить' %}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
