<!-- templates/base.html -->

<!DOCTYPE html>

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Django test project">
    <meta name="author" content="Oleksii Morev">

    <title>{% trans 'PROJECT' %}</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    {% block head %}
    {% endblock head %}

    {{ form.media }}

    <style type="text/css">
        .alert{color: red}
        ruby {
            ruby-position: under;
        }
    </style>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">
                <ruby>ПРОЕКТ<sup><small>ua</small></sup><rt>т е с т о в ы й</rt></ruby>
            </a>
        </nav>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">
                <ruby>ПРОЕКТ<sup><small>ua</small></sup><rt>т е с т о в ы й</rt></ruby>
            </a>
            <button class="navbar-toggler hidden-lg-up pull-right"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" rel="nofollow noopener" href="{% url 'about' %}">
                        {% trans 'О проекте' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="nofollow noopener" href="{% url 'news_list' %}">
                        {% trans 'Новости' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="nofollow noopener" href="{% url 'topic_list' %}">
                        {% trans 'Форум' %}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                            data-toggle="dropdown"
                            href="#"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">
                        {% trans 'Домашняя работа' %}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'quadratic' %}">
                            {% trans 'Квадратные уравнения' %}</a>
                            <a class="dropdown-item" href="{% url 'degree' %}">
                            {% trans 'Работа с формами' %}</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="nofollow noopener" href="{% url 'contacts' %}">
                        {% trans 'Контакты' %}</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-0 ml-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.is_authenticated %}
                                {% if user.photo %}
                                    <img src="{{ user.photo.url }}" class="rounded"
                                    width="32" height="32" title="{{ user.get_full_name }}">
                                {% else %}
                                    <img src="{% static 'img/nophoto.png' %}" class="rounded"
                                    width="32" height="32" title="{{ user.get_full_name }}">
                                {% endif %}
                            {% else %}
                                <img src="{% static 'img/guest.jpg' %}" class="rounded"
                                width="32" height="32" title="{% trans 'Гость' %}">
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">{% trans 'Настройки' %}</a>
                            <div class="dropdown-divider"></div>
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'profile' %}">
                                {% trans 'Профиль' %}</a>
                                <a class="dropdown-item" href="{% url 'password_change' %}">
                                {% trans 'Изменить пароль' %}</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                {% trans 'Выйти' %}</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'login' %}">
                                {% trans 'Войти' %}</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                    {% trans 'Вы уверены, что хотите выйти?' %}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                {% trans 'Нажмите "Выйти" если готовы завершить текущую сессию.' %}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                    {% trans 'Отменить' %}</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">
                    {% trans 'Выйти' %}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    {% block JS %}
    {% endblock JS %}

</body>

</html>
