<!-- templates/quadratic.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Решение квадратного уравнения</h1>
    <hr>
    <h3><i>Квадратное уравнение - это уравнение вида:</i> ax<sup>2</sup> + bx + c = 0,</h3>
    <h3><i>где коэффициенты a, b, c - произвольные числа, причем a не равняется 0</i></h3>
    <br>
    <h5>Введите ниже значения коєффициентов уравнения:</h5>
    <form method="post" novalidate>
        {% csrf_token %}
        <div>
            {% for field in form %}
            <div class="form-group">
                {{field.label_tag}}
                <div>{{field}}</div>
                {% if field.errors%}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <button type="submit">Решить</button>
    </form>
    <br>

    {% if b == 0 or c == 0 %}
        <h5>Это неполное квадратное уравнение</h5>
        <h5>Результаты расчета будут не верны</h5>
        <h5>Обратитесь к разработчику для разработки дополнительного блока!!!</h5>
    {% else %}
        <h5>Задано квадратное уравнение:</h5>
        {% if b < 0 and c < 0 %}
            <h5>{{a}}x<sup>2</sup> {{b}}x {{c}} = 0</h5>
        {% endif %}

        {% if b < 0 and c > 0 %}
            <h5>{{a}}x<sup>2</sup> {{b}}x + {{c}} = 0</h5>
        {% endif %}

        {% if b > 0 and c < 0 %}
            <h5>{{a}}x<sup>2</sup> + {{b}}x {{c}} = 0</h5>
        {% endif %}

        {% if b > 0 and c > 0 %}
            <h5>{{a}}x<sup>2</sup> + {{b}}x + {{c}} = 0</h5>
        {% endif %}

        <h5>Дискриминант уравнения:</h5>
        {% if d is not None %}
            <h5>D = {{d}}</h5>
        {% endif %}

        {% if d > 0 %}
            <h5>Уравнение имеет 2 корня:</h5>
            <h5>x<sub>1</sub> =  {{x1}}</h5>
            <h5>x<sub>2</sub> =  {{x2}}</h5>
        {% endif %}

        {% if d == 0 %}
            <h5>Уравнение имеет 1 корень:</h5>
            <h5>x =  {{x}}</h5>
        {% endif %}

        {% if d < 0 %}
            <h5>Уравнение корней не имеет</h5>
        {% endif %}
    {% endif %}
{% endblock %}
